@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-VariableFont_wdth\,wght.ttf");
}

@font-face {
  font-family: "Roboto-Italic";
  src: url(../fonts/Roboto-Italic-VariableFont_wdth\wght.ttf);
  font-style: italic;
}

* {
  font-family: Roboto;
  box-sizing: border-box;
  --light-blue-color: #3882f6;
  --light-grey-color: #e5e7eb;
  --dark-blue-color: #1f2937;
  --custom-white: #f9faf8;
  margin: 0px;
  padding: 0px;
}

/*HEADER DIVISION*/

header {
  display: flex;
  background-color: var(--dark-blue-color);
  justify-content: space-evenly;
  padding-top: 10px;
  padding-bottom: 100px;
}

.hleft,
.hright {
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 300px;
}

.hright {
  width: 400px;
}

/*HEADER LEFT SIDE*/

.header-logo {
  font-size: 24px;
  color: var(--custom-white);
  font-weight: 900;
}

.header-text {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
}

.header-text h1 {
  font-size: 48px;
  color: var(--custom-white);
  font-weight: 900;
}

.header-text p {
  color: var(--light-grey-color);
  font-size: 18px;
}

.header-btn {
  background-color: var(--light-blue-color);
  color: var(--custom-white);
  font-size: 18px;
  font-weight: 900;
  border: none;
  border-radius: 5px;
  padding: 8px 25px;
}

/*HEADER RIGHT SIDE*/

.header-links {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 8px;
}

a {
  text-decoration: none;
  color: var(--light-grey-color);
  font-size: 18px;
}

.hright img {
}

/*CARDS CONTAINER*/

.cards-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 100px;
  gap: 50px;
}

.cards-container h2 {
  font-size: 36px;
  color: var(--dark-blue-color);
  font-weight: 900;
}

.cards-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 200px;
}

.card p {
  color: var(--dark-blue-color);
  font-size: 18px;
}

.card img {
  border: 2px solid var(--light-blue-color);
  border-radius: 5px;
}

/*QUOTE CONTAINER*/

.quote-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: var(--light-grey-color);
  padding: 100px;
}

.quote {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 800px;
}

.quote p {
  color: var(--dark-blue-color);
}

.quote-text {
  font-family: Roboto-Italic;
  font-size: 36px;
  font-style: light italic;
}

.quote-author {
  font-weight: 900;
  font-size: 20px;
  align-self: flex-end;
}

/*SIGN UP CONTAINER*/

.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px;
}

.signup {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
  background-color: var(--light-blue-color);
  border-radius: 5px;
  padding: 20px 100px;
}

.signup-text {
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: var(--custom-white);
}

.signup-text h3 {
  color: var(--custom-white);
  font-size: 20px;
}

.signup-text p {
  color: var(--light-grey-color);
  font-size: 18px;
}

.signup-btn {
  background-color: var(--light-blue-color);
  color: var(--custom-white);
  font-size: 18px;
  font-weight: 900;
  border: 2px solid var(--custom-white);
  border-radius: 5px;
  padding: 8px 25px;
}

/*FOOTER*/

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  color: var(--light-grey-color);
  background-color: var(--dark-blue-color);
  padding-top: 30px;
  padding-bottom: 30px;
}
