@font-face {
  font-family: Roboto;
  src: url("../fonts/Roboto-VariableFont_wdth\,wght.ttf");
}

@font-face {
  font-family: Roboto-Italic;
  src: url(../fonts/Roboto-Italic-VariableFont_wdth\wght.ttf);
  font-style: italic;
}

* {
  font-family: Roboto;
  box-sizing: border-box;
  --light-blue-color: #3882f6;
  --light-grey-color: #e5e7eb;
  --dark-blue-color: #1f2937;
  --custom-white: #f9faf8;
  margin: 0px;
  padding: 0px;
}

header,
footer,
.header,
.header-content,
.header-links,
.cards-container,
.cards,
.sign-up,
.sign-up-content,
.inspiring-quote,
.quote {
  display: flex;
}

.header-text,
.cards-container,
.card .sign-up-text,
.inspiring-quote {
  flex-direction: column;
}

.card {
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

/*TODO after images are added , its probably needed to styles the img too*/
.card-img {
  border: 2px solid var(--light-blue-color);
  border-radius: 10px;
}

/*TODO check if padding is needed later */
.cards {
  gap: 20px;
}

.sign-up,
.header,
.cards {
  justify-content: space-between;
}

.cards-container,
.inspiring-quote,
.sign-up,
footer {
  justify-content: center;
  align-items: center;
}

footer {
  color: var(--custom-white);
}

header,
footer {
  background-color: var(--dark-blue-color);
}

.sign-up-content,
.sign-up-btn {
  background-color: var(--light-blue-color);
}

.sign-up-btn {
  color: var(--custom-white);
  padding: 10px 28px;
  font-size: 18px;
  font-weight: 900;
  border-radius: 10px;
  border: none;
}

.sign-up-text {
  color: var(--custom-white);
}

.btn-with-border {
  border: 2px solid var(--custom-white);
}

.inspiring-quote {
  background-color: var(--light-grey-color);
}

.quote-text {
  font-size: 36px;
  font-family: Roboto-Italic;
  font-style: light italic;
  color: #1f2937;
}

.quote-author {
  font-weight: 900;
  color: #1f2937;
  font-size: 28px;
}

.header-links,
.header-text p {
  font-size: 18px;
  color: var(--light-grey-color);
}

.header-links {
  text-decoration: none;
}

.main-title,
.header-logo {
  font-size: 48px;
  color: var(--custom-white);
}

.header-logo {
  font-size: 24px;
  font-weight: 900;
}

.cards-title {
  font-size: 36px;
  font-weight: 900;
  color: var(--dark-blue-color);
}

.sign-up h3 {
  font-size: 24px;
}

.sign-up p {
  font-size: 18px;
}
